# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized, including Python, R, Scala, and SQL. You’ll be introduced to the open source and commercial data science tools available. You’ll also learn about the packages, APIs, data sets and models frequently used by Data Scientists.

**Objectives:most popular languages for Data Science.**
+ Python
+ R
+ SQL

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
and so on...

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
and so on...

**There are some data science tools:**
<table>
    <tr>
        <td>Open Source or not</td>
        <td>Type</td>
        <td>Name </td>
    </tr>
    <tr>
        <td>Open Source Tools</td>
        <td>Development Environments</td>
        <td>Jupyter<br>R Studio<br>Spyder<br>Apache Zeppelin</td>
    </tr>
    <tr>
        <td>Open Source Tools</td>
        <td>Execution Environments</td>
        <td>Spark<br>Flink<br>Spyder<br>Ray</td>
    </tr>
    <tr>
        <td>Open Source Tools</td>
        <td>Fully Integrated Visual Tools</td>
        <td>KNIME<br>Orange</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Data Management</td>
        <td>Oracle<br>SQL Server<br>IBM DB2</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Data Integration and Transformation</td>
        <td>talend<br>Informatica<br>IBM InfoSphere DataStage<br>IBM Watson Studio Desktop</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Data Visualization</td>
        <td>Tableau<br>Informatica<br>Microsoft Power BI<br>IBM Cognos Analytics<br>IBM Watson Studio Desktop</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Model Building</td>
        <td>SPSS Modeler<br>SAS Enterprise Miner<br>IBM Watson Studio Desktop</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Model Deployment</td>
        <td>SPSS Modeler</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Data Asset Management</td>
        <td>Informatica<br>IBM InfoSphere Information Governance Catalog</td>
    </tr>
    <tr>
        <td>Commercial Tools</td>
        <td>Fully Integrated Visual Tools</td>
        <td>Watson Studio<br>H2O Driverless AI</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [9]:
200/60

3.3333333333333335

## Author

Daniel Yu